.product div{
        height: 300px;
        width: 200px;
        background-color: rgb(231, 8, 8);
        margin: 20px;
}

.product{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}